.coins{
    display: flex;
}

.total_money{
    /* background-color: blue; */
    color: blue;
}

.rate_coins{
    /* background-color: blue; */
    color: orange;
}

.total_coins{
    /* background-color: blue; */
    color: green;
}
